{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>To-do list!</h2>

    <section id="todo-list">

        {% for item in list %}

            <div class="creature">
                <h3>{{ name }}</h3>
                
            </div>

        {% else %}

            <p>There is nothing to do! Sit back and relax: <a href="https://www.netflix.com"> Netflix</a></p>

        {% endfor %}

    </section>

{% endblock %}

