{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h1 class="welcome">Hello!</h1>

{% endblock %}

